{{- define "main" }}
{{- $home_bundle := $.Site.GetPage "page" "/home"}}
  <main id="home" class="container content pad-sides-for-mobile" style="margin-top:1rem;">
    <div class="columns is-multiline">
      {{- with $home_bundle.Resources.GetMatch "row-1.md" }}
      <div class="column is-12">
        {{ .Content }}
      </div>
      {{- end }}
      <div class="column is-12">
        <div class="ws-home-grid columns is-multiline">
          <div class="column is-4-desktop is-12-tablet is-12-mobile">
            {{- with $home_bundle.Resources.GetMatch "row-2-col-1.md" }}
              {{- .Content }}
            {{- end }}
          </div>
          <div class="column is-4-desktop is-6-tablet is-12-mobile">
            {{- with $home_bundle.Resources.GetMatch "row-2-col-2.md" }}
              {{- .Content }}
            {{- end }}
          </div>
          <div class="column is-4-desktop is-6-tablet is-12-mobile">
            {{- with $home_bundle.Resources.GetMatch "row-2-col-3.md" }}
              {{- .Content }}
            {{- end }}
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="ws-home-grid columns is-multiline">
          <div class="column">
            {{- with $home_bundle.Resources.GetMatch "row-3.md" }}
              {{- .Content }}
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}
