{{- $max := .Get "max" | default 6 }}

{{- $today := time.Now | time.Format "2006-01-02" }}
{{- $news_all := where $.Site.RegularPages.ByDate.Reverse "Section" "news" }}
  <ul>
    {{- range $news_all | first $max }}
    {{- $news_date := .Param "date" | time.Format "2006-01-02" }}
    <li>
      <a href="{{ .RelPermalink }}" class="no-decoration">
        <span style="font-size:85%;">{{ $news_date }}:</span>
        <br>{{ .Title }}</a>
    </li>
    {{- end }}
    <li><a href="{{ ref .Page "/events" }}" class="no-decoration">more ...</a></li>
  </ul>
